<?xml version="1.0"?>
<config>
    <modules>
        <Jvideoplayer_Productvideo>
            <version>0.1.0</version>
        </Jvideoplayer_Productvideo>
    </modules>
    <frontend>
        <routers>
            <productvideo>
                <use>standard</use>
                <args>
                    <module>Jvideoplayer_Productvideo</module>
                    <frontName>productvideo</frontName>
                </args>
            </productvideo>
        </routers>
	</frontend>
	<global>
        <blocks>
            <productvideo>
                <class>Jvideoplayer_Productvideo_Block</class>
            </productvideo>
        </blocks>
        <helpers>
            <productvideo>
                <class>Jvideoplayer_Productvideo_Helper</class>
            </productvideo>
        </helpers>
    </global>
</config>